.heads{
	padding: 0px;
	margin: 0px;
	background-image: url(../images/stars.jpg);
	background-color: rgba(0,0,0,0.3); 
	height: 150px;
	width: 100%;
	background-size: cover; 
	background-position: center; 
}

.heads {
	color: white;
	padding: 2em 1em; 
	font-family: sans-serif; 
	text-align: center;
}

.heads > h2 {
	font-family: 'Whisper', cursive;
	font-size: 32px;
}